VITE_API_URL=https://iwdfzvfqbtokqetmbmbp.supabase.co
VITE_SUPABASE_API_KEY=
VITE_AXON_API_URL=
<% backendModules.forEach((module) => { -%>
<%= module.envName %>=
<% }) -%>
CONSOLE_IMAGE=medol/<%= imageName %>:0.0.1-SNAPSHOT
CONSOLE_CONTAINER_NAME=<%= imageName %>
CONSOLE_PORT=5173
